/* .LessonContainer {
    width: 33.33%;
    margin: 0 auto;
  }
  
  .QuestionContainer {
    text-align: center;
  }
  
  .Question {
    margin-bottom: 16px;
  }
  
  .OptionsContainer {
    display: flex;
    flex-direction: column;
  }
  
  .OptionButton {
    width: 100%;
    margin-bottom: 8px;
  } */